In [68]:
name='Rabana'
print(name)

Rabana

In [69]:
student1=['raj',12,3.14]    #list-can modify
#type(student1)
student2=('raj',12,3.14)

type(student2)              #tuple - cannot modify

student3={'raj',12,3.14}
student3                    #random output

{12, 3.14, 'raj'}

In [70]:
student4={'name':'Ravi','age':25,'city':'pune'}
student4

#type(student3)
student4.values

In [71]:
#bool(3)
bool(0)

False

In [72]:
# python poerators
#Arithimetic operators(+,-,*,/,%,**)
x=3
y=5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

8
-2
15
0.6
3
243

In [73]:
#Assignment operators(=,=+,-=,/=,%=,**=)
x=3
y=5
#print(x=y) 
x =+ y
x *= y
#print(x=-y)
print(x)

25

In [74]:
# Comparision operators
print(x==y,x!=y,x<=y,x>=y,x>y,x<y)
x,y=5,7
x>y

False True False True True False

False

In [75]:
#logical operators(x and y,x or y,  not y)
(x>y)and (x!=y)
(x<y)and (x!=y)
(x<y)or (x!=y)

True

In [76]:
#Membership operators(==,<,>,<=,>=,!=)
x=[1,2,3,4,5]
y=7
y  not in x

True