In [4]:

# python function
def myfunction():#function defining
    print("hello, i am from function")

myfunction()# function calling

hello, i am from function

In [6]:
# function with parameters
def myfunction(name):
    print('your name is:' +name)
myfunction('rabana')

your name is:rabana

In [15]:
def add(a,b,c):
    return a+b+c
add(3,4,5)

# using lambda
f=lambda a,b,c:a+b+c
print(f(2,3,4))

9

In [21]:
# Map function
num=[1,2,3,4]

def sq(n):
    return n*n
square=map(sq,num)
print(list(square))

[1, 4, 9, 16]

In [23]:
#zip function
name=['rabana','ravi','amol']
id=[1,2,3]

mapped=zip(name,id)
print(list(mapped))

[('rabana', 1), ('ravi', 2), ('amol', 3)]

In [24]:
# for loop
fruits=['apple','banana','cherry','pineapple','mango']
for i in fruits:
    print(i)

apple
banana
cherry
pineapple
mango

In [25]:
# for break
for i in fruits:
    print(i)
    if i=='banana':
        break

apple
banana

In [27]:
# for continue
for i in fruits:
    if i=='banana':
        continue
    print(i)

apple
cherry
pineapple
mango

In [29]:
# while lop
n=1
while(n<=6):
    print(n)
    n+=1

1
2
3
4
5
6

In [30]:
# while with break
n=1
while(n<=6):
    print(n)
    if n==4:
        break
    n+=1

1
2
3
4

In [1]:
# while with continue
n=0
while n<20:
    n+=1
    if n==15:
        continue
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20