<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [177]:
# create empty list, name it 'a'
a=[]

In [178]:
# print the value of a
print(a)

[]

In [179]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [180]:
languages=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [181]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [182]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [183]:
languages[1]='temp'
print(languages)

['R', 'temp', 'SAS', 'Scala', 42]

Print the value of temp and type(temp)

In [184]:
#print(temp)
print(type('temp'))

<class 'str'>

Append the element 'Java' in the list

In [185]:

languages.append('Java')
print(languages)

['R', 'temp', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [186]:
languages.remove(42)
print(languages)

['R', 'temp', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [187]:
colors=['Red','Blue','White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [188]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [189]:
colors[1]='Orange'
print(colors)

['Red', 'Orange', 'White', 'Black']

Print the list

In [190]:
print(colors)

['Red', 'Orange', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [191]:
colors2=['Grey','Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [192]:
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [193]:

len(colors)
print(colors)

['Red', 'Orange', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [194]:
colors.sort()
print(colors)

['Black', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [195]:
sent='Coronavirus Caused Lockdowns around The World.'
sent

'Coronavirus Caused Lockdowns around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [196]:

a=sent.split(" ")
print(a)

['Coronavirus', 'Caused', 'Lockdowns', 'around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [197]:
words_lower=sent.lower()
print(words_lower)

coronavirus caused lockdowns around the world.

Check whether ‘country’ is in the list

In [198]:
#print(sent)
if 'country' in sent:
    print("avaliable")
else:
    print(" not avaliable")

 not avaliable

Remove the element ‘the’ from the list and print the list.

In [199]:
list1=sent.split(" ")
print(list1)
list1.remove('The')
print(list1)

['Coronavirus', 'Caused', 'Lockdowns', 'around', 'The', 'World.']
['Coronavirus', 'Caused', 'Lockdowns', 'around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [200]:
list2=words_lower.split(" ")
print(list2)

print(list2[0:4])

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']
['coronavirus', 'caused', 'lockdowns', 'around']

In [201]:
# print x4

Convert the list of elements to single string using join function and print it

In [202]:
a=sent.split(" ")
print(a)
s=" "
b=s.join(a)
print(b)

['Coronavirus', 'Caused', 'Lockdowns', 'around', 'The', 'World.']
Coronavirus Caused Lockdowns around The World.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [203]:
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [204]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [205]:
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [206]:
print(stud_grades_set)

{'B', 'A', 'F', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [207]:

print(type(stud_grades))
print(type(stud_grades_set))
print(stud_grades)
print(stud_grades_set)

#list cantain duplicate value
#set does not cantain duplicate value

<class 'list'>
<class 'set'>
['A', 'A', 'B', 'C', 'C', 'F']
{'B', 'A', 'F', 'C'}

Add a new element ‘G’ to stud_grades_set

In [208]:

stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [209]:
stud_grades_set.add('F')

print(stud_grades_set)

{'F', 'A', 'B', 'C', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [210]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [211]:
print(stud_grades_set)
print(len(stud_grades_set))

{'A', 'B', 'C', 'G'}
4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [212]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [213]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [214]:
colors_set=set(colors)
fruits_set=set(fruits)

Find the union of both the sets.

In [215]:

x=colors_set.union(fruits_set)
print(x)

{'red', 'apples', 'grapes', 'blue', 'orange'}

Find the intersection of both the sets

In [216]:

y=colors_set.intersection(fruits_set)
print(y)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [217]:
z=fruits_set.difference(colors_set)
print(z)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [218]:
temp=(17,'Virat',50.0)

Iterate through temp and print all the items in temp

In [219]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [220]:
temp[0]=11
print(temp)

TypeError: 'tuple' object does not support item assignment

Set temp1 = tuple(temp)

In [ ]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:

temp1[0]=17
print(temp1)

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [2]:
city=('Bangalore',28.9949521,72)
print(city)

('Bangalore', 28.9949521, 72)

Print first element of city

In [3]:
city=('Bangalore',28.9949521,72)
a=city[0]
print(a)

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [4]:
city2=('Chennai',30.01,74)

Create cities which consist of city and city2

In [5]:
cities=(city+city2)

Print cities

In [6]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [7]:
cities=('Bangalore',28.9949521,72)
b=cities[0]
print(b)

Bangalore

print the type of cities

In [8]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [29]:
d={'actor':'amir','animal':'cat','earth':2,'list':[23,32,12]}
d.items()

dict_items([('actor', 'amir'), ('animal', 'cat'), ('earth', 2), ('list', [23, 32, 12])])

Print the value of d[0]

In [31]:
d.get('actor')

'amir'

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [32]:
d.update({'actor':'salman'})
print(d)

{'actor': 'salman', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the type of actor

In [12]:
print(type(d[0]))

KeyError: 0

Store the value of d[‘list’] in new variable List.

In [14]:
list1=d['list']
print(list1)

[23, 32, 12]

Print the type of List.

In [15]:
print(type(list1))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [33]:
d1={'singer':'Ks$na','album':'still here','genre':'hip-hop'}
d1.items()

dict_items([('singer', 'Ks$na'), ('album', 'still here'), ('genre', 'hip-hop')])

Merge d1 into d.

In [34]:
a=d.merge(d1)
a.items()

AttributeError: 'dict' object has no attribute 'merge'

print d

Print all the keys in d

In [36]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list'])

Print all the values in d

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [39]:
for keys,values in d.items():
    print(keys,values)

actor salman
animal cat
earth 2
list [23, 32, 12]

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [40]:

sent='Coronavirus Caused Lockdowns around The World.'
def word_count(sent):
    counts=dict()
    words=sent.split()
    for word in words:
        if word in counts:
            counts[word]+=1
        else:
            counts[word]=1
    return counts
print( word_count('Coronavirus Caused Lockdowns around The World.'))

{'Coronavirus': 1, 'Caused': 1, 'Lockdowns': 1, 'around': 1, 'The': 1, 'World.': 1}